@import 'fonts/source.scss';

@font-face {
    font-family: 'Hua';
    src:
        url('/fonts/FZSJ-HUAZCMWWKQ.woff2') format('woff2'),
        url('/fonts/FZSJ-HUAZCMWWKQ.woff') format('woff');
}

@font-face {
    font-family: 'STXINGKA';
    src: url('/fonts/STXINGKA.woff2') format('woff2');
}

@font-face {
    font-family: 'LXGW Wenkai';
    src:
        url('/fonts/LXGWWenKai-Regular.ttf') format('ttf'),
        url('/fonts/LXGWWenKai-Bold.ttf') format('ttf'),
        url('/fonts/LXGWWenKai-Light.ttf') format('ttf');
}
